* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html, body {
  margin: 0; 
  height: 100%; 
}

html {
  background: url("https://i.imgur.com/XfkbFlu.jpg") center no-repeat;
  background-size: cover;
}

body {
  display: flex;
  align-items: top;
  justify-content: center;
}

h1 {
  background: #63B6BB;
  color: white;
  margin-top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 121.5px;
}


.login {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  justify-content: center;
  background: #F5C5C5;
  padding: 3rem;
  margin-top: 20%;
  border-radius: 10px;
  width: 400px;  /* Increased width */
  max-width: 100%;
}

.login p {
  text-align: center;
}

.register {
  margin-bottom: 10rem;
}

.register-btn {
  &:hover {
    color:#fb8484;
  }

}

input {
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  background-color: #fff;
  color:black;
  font-family: Treifany;
  font-weight: 500;

  
  &:hover {
    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
  }
  
  &[type="email"],
  &[type="password"] {
    
    &:focus {
      box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
    }
  }}

.playbtn {
  background: #FB0404;
  color: white;
  padding: 1em;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5000px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  
  &:hover {
    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
    color:#fff;
  }
}

img.music-toggle-active {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

.music-toggle {
  width: 6.5%;
  position: fixed;
  bottom: 20px;  
  right: 20px;  
  margin-right: 0;
  display: flex;
  background: #F5C5C5;
  padding: 1rem;
  border-radius: 5000px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  
  &:hover {
    box-shadow: 1px 1px 20px 8px rgba(0,0,0,0.2);
  }
}

ul {
  margin-top: -25%;
  list-style: none;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas: 
    "journal breathing planner"
    "tracker quotes quotes"
    "community community community";
  gap: 1rem;
  cursor: pointer;
}

li {
  background: #F5C5C5;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

li:hover {
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.journal {
  grid-area: journal;
}

.journal-img {
  width: 50%;
  border-radius: 10px;
}

.breathing {
  grid-area: breathing;
}

.breathing-img {
  width: 50%;
  border-radius: 10px;
}

.planner {
  grid-area: planner;
}

.planner-img {
  width: 30%;
  border-radius: 10px;
}

.tracker {
  grid-area: tracker;
}

.tracker-img {
  width: 40%;
  margin-bottom: 8%;
  margin-top: 5%;
  border-radius: 10px;
}

.reminder {
  grid-area: quotes;
}

.journal {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.blank_page {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.questions{
  border-radius: 10px;
  padding: 30px;
  margin-left: 20px;
  background: #F5C5C5;
}

.questions h1{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}


.journal-image {
  width: 100%;
  height: 60%;
  display: block;
}

.journal-entry {
  position: absolute;
  top: 8%;
  left: 4%;
  width: 92%;
  height: 70%; 
  border: none;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

textarea {
  color: black;
  resize: vertical;
}

.breathing5{
  position: relative;
  width: 100%;
  max-width: 400px;
  background: #F5C5C5;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  
}

.previous_journal {
  position: absolute;
  top: 8%;
  left: 4%;
  width: 92%;
  height: 70%; 
  border: none;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.selected-entry{
  border: none;
  padding: 20px;
  font-size: 16px;
  background: pink;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}
.selected-entry h1{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}

.habits ul{
  list-style: none;
  display: flex;
  padding: 20%;
}